body {
    font-family: Verdana, sans-serif;
    margin: 0;
    font-size: 0.8em;
    padding: 0;
}

#logo {
    background: #4b4b4b url(../images/head.png) repeat-x bottom;
    margin: 0;
    padding: 1em 1em 1.4em;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

#logo a {
    color: white;
    text-decoration: none;
}

#header, #content {
    padding: 0 1.3em;
}

#content {
    padding-bottom: 1em;
}

h1, h2 {
 font-family: "Trebuchet MS", sans-serif;
 color: #204A87;
}

h2, h3 {
 color: #3465A4;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background-color: #2E3436;
	color: white;
	padding: 0.4em 1em;
}

td {
	padding: 0.3em 0.7em;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

table .even td {
	background-color: #EEEEEC;
}

a {
 color: #204A87;
}

a:hover {
 color: #3465A4;
}

a img {
 border: 0;	
}

ul {
 list-style-type: square;
}

ul.box {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 width: 100%;
}

ul.box li {
 float: left;
}

.item {
 display: block;
 padding: 10px;
 margin: 10px 15px 15px 0;
 background-color: #EEEEEC;
 -moz-border-radius: 7px;
 border: 1px solid #D3D7CF;
 float: left;
}

.item img {
 vertical-align: middle;
}

.detail {
 padding: 20px 30px 10px 10px;
}

.title {
 font-weight: bold;
 font-size: 1.1em;
}

.minor {
 color: #555753;	
}

.message {
 list-style-type: disc;
}

.message.error {
 color: #db0c0c;
}

.hide {
	display: none;
}